<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"peak-main peak-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group peak-main peak-page">
<!-- wp:post-title {"level":1} /-->
<!-- wp:group {"className":"peak-updated","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group peak-updated">
<!-- wp:paragraph -->
<p>Updated</p>
<!-- /wp:paragraph -->
<!-- wp:post-date {"format":"j F Y","displayType":"modified","className":"peak-updated__date"} /-->
</div>
<!-- /wp:group -->
<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
